doctype html
head
  title Short Answer
  link(rel="stylesheet", href="../style.css")
body
  p Short Answer:
  hr
  div.maincontain
    form(method="post")
      p
        br
        label.qcontain #{question}
        div.acontain
          input(type="text", name="a", placeholder="answer pls")
          br
        input(type="submit")
