doctype(html='')
head
	title OPEN SCREEN
	link(rel='stylesheet', type='text/css', href='style.css')
.main-body
	.Header
		h1.title News Briefing
		#header-links
			a(href='') login
			a(href='') sign up
	.Body
		form(method='post')
			br
			label.qcontain #{question}
				.acontain
					input(type='text', name='a', placeholder='answer here')
					br
					input(type='submit')
	.Footer
		#footer-links
			a(href='') contact us
			a(href='') submit feedback
			a(href='') about us
