
#title-bar{
  background-color: #493657;
  color:#EB5E55;
}
#quiz-cont{
  background-color: #EB5E55;
  padding: 100px;
  margin:0px;
  height: 100vh;
}
#quiz-cont > h1{
  color:#493657;
}

#about-bar{
  background-color: #9EADC8;
}
.q-panel{
  min-height: 100px;
}
.answer{
  overflow: hidden;
}
.navbar{
  border-radius: 0px;
  border:none;
  margin-bottom: 0px;
}

.jumbotron{
  margin-bottom: 0px;
  height: 80vh;
}
